*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 80vh;
    background: #1f2937;
    display: flex;
    position: relative;
}
i{
    color: #1F2937;
    font-weight: bold;
}
.logo{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: flex;
    color: white;
    border: 2px solid aqua;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin: 20px;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.nav-links{
    display: flex;
    margin-top: 48px;
    position: absolute;
    float: right;
    right: 0;
    margin-right: 20px;
}
li{
    color: aliceblue;
    display: inline;
    list-style: none;
    margin-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    color: white;
    text-decoration: none;
}
ul :hover{
    color: aqua;
}
.txt-container{
    color: white;
    position: absolute;
    width: 550px;
    background:rgb(54, 160, 160);
    height: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    position: absolute;
    margin-left: 120px;
    margin-top: 180px;
    border-radius: 20px 20px 0px 0px;
}
span{
    font-size: 23px;
    font-weight: bold;
    background: none;
    margin-bottom: 10px;
} 
.div2{
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cnt-div{
    border: 2px solid rgb(54, 160, 160);
    border-radius: 10px;
    width: 100px;
    height: 100px;
}
.sec-2 .sec-p{
    font-weight: bold;
    margin-top: 30px;
    font-size: 22px;
    text-align: center;
}
.text{
    text-align: center;
}
.div-wrap{
    width: 100px;
    margin: 20px 20px 0px 20px;
}
.quote-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 45vh;
    background: #E5E7EB;
    flex-direction: column;

}
blockquote{
    font-size: 28px;
    color: #1F2937;
    font-style: italic;
    font-weight: light;
    margin: 20px;
}
cite{
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    align-self: flex-end;
    margin-right: 40px;
}
.sign-up{
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sgn-div{
    width: 110vh;
    height: 14vh;
    background: #3882f6;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 25px 37px;
}
.action-p{
    float: left;
    font-weight: bold;
}
.smaller-txt{
    font-size: 12px;
}
.sign-up-btn{
    background: none;
    border: 1.5px solid white;
    border-radius: 8px;
    color: antiquewhite;
    padding: 4px 22px; 
    font-weight: 550;
}
footer{
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1f2937;
    color: white;
}




/* Thank you for making out time to view this code */